/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

/* Colours */
$background: #0E012E;
$text: #FFFFFF;
$link: #5FF1F9;
$link-hover: #B94B4C;
$code-bg: #F0E8E8;

/* Breakpoint */
$container: 960px;
$mobile: 700px;
$phone: 450px;

/* Fonts */
$font-title: 'Nunito Sans', sans-serif;
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

